---
import PageLayout from "@/layouts/Base"
import BlogPostPreview from "@/components/BlogPostPreview"
import { sortMDByDate } from "@/util"
import type { Post } from "@/util"

const p = "mb-4"
const header = "mb-6 title"
const recentPosts = "mb-4 text-xl title"
const indexPostPreviewList = "flex flex-wrap items-center gap-x-2 [&_q]:w-full"
const unorderedList24 = "space-y-24"

const meta = {
	title: "ajcwebdev",
	description: "Web developer, writer, speaker, and advocate. Developer Advocate at Edgio and Redwood. Host of JavaScript Jam and the FSJam Podcast.",
	canonicalURL: "https://ajcwebdev.com/"
}

const allPosts = await Astro.glob<Post>("./*/*/*/*.mdx")
const allPostsByDate = sortMDByDate(allPosts).slice(0, 5)
---

<PageLayout meta={meta}>
	<section>
		<h1 class={header}>Anthony Campolo, Developer Advocate</h1>

		<p class={p}>
			Oh hello, didn't see you there. This is my blog.
		</p>
		<p class={p}>Continue reading to achieve peak blogness.</p>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class={recentPosts}>Recent Posts</h2>
		<ul class={unorderedList24}>
			{
				allPostsByDate.map((p) => (
					<li class={indexPostPreviewList}>
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>