---
import type { IElement, MDXInstance, Post } from "@/util"
import { getLocaleTime } from "@/util"
import { styles } from "../styles/styles"

export interface Props extends IElement {
	post: MDXInstance<Post>
}

const {
	post,
	as: Element = "div"
} = Astro.props as Props

const { publishDate } = post.frontmatter
const date = new Date(publishDate)
const postDate = getLocaleTime(date, { month: "long" })
---

<Element>
	<a href={post.url} class={styles.postPreviewTitle}>
		{post.frontmatter.title}
	</a>
</Element>

<div>
	<br>
	<time class={styles.postPreviewDate}>
		{postDate}
	</time>
	<q class={styles.postPreviewDesc}>{post.frontmatter.description}</q>
</div>

<!-- <img class={styles.coverPreviewImage} src={post.frontmatter.image}> -->
<img src={post.frontmatter.image}>