---
import type { IElement, MDXInstance, Post } from "@/util"
import { getLocaleTime } from "@/util"
import { postPreviewTitle, postPreviewDate, postPreviewDesc, coverImage } from "../styles/preview"

export interface Props extends IElement {
	post: MDXInstance<Post>
}

const {
	post,
	as: Element = "div"
} = Astro.props as Props

const { publishDate } = post.frontmatter
const date = new Date(publishDate)
const postDate = getLocaleTime(date, { month: "long" })
---

<Element>
	<a href={post.url} class={postPreviewTitle}>
		{post.frontmatter.title}
	</a>
</Element>

<div>
	<br>
	<time class={postPreviewDate}>
		{postDate}
	</time>
	<p class={postPreviewDesc}>{post.frontmatter.description}</p>
</div>

<img class={coverImage} src={post.frontmatter.image}>