---
import type { IElement, MDXInstance, Post } from "@/util"
import { getLocaleTime } from "@/util"

const postPreviewTitle = "inline-block cactus-link line-clamp-1 text-xl"
const postPreviewDate = "min-w-[120px] text-gray-500 text-xl"
const postPreviewDesc = "block italic line-clamp-3 mt-4 mb-4 text-lg"
const postPreviewCoverImage = "mt-4"

export interface Props extends IElement {
	post: MDXInstance<Post>
}

const {
	post,
	as: Element = "div"
} = Astro.props as Props

const { publishDate } = post.frontmatter
const date = new Date(publishDate)
const postDate = getLocaleTime(date, { month: "long" })
---

<Element>
	<a href={post.url} class={postPreviewTitle}>
		{post.frontmatter.title}
	</a>
</Element>

<div>
	<br>
	<time class={postPreviewDate}>
		{postDate}
	</time>
	<p class={postPreviewDesc}>{post.frontmatter.description}</p>
</div>

<img class={postPreviewCoverImage} src={post.frontmatter.image} alt={post.frontmatter.title + " cover image"}>
