---
import BaseLayout from "./Base.astro"
import { getLocaleTime } from "src/util"
import { baseLayoutContainer, postTitle, dateAndTags, postDate, tagsContainer, postTagsList, coverImage, blogPostContent } from "../styles/post"
import { tocAside, tocHeader, tocUnorderedList, tocHeading } from "../styles/toc"

const {
	content: { title, description, publishDate, tags, image, canonicalURL },
	headings,
} = Astro.props

const date = new Date(publishDate)
const formatDate = getLocaleTime(date)
---

<BaseLayout meta={{ title, description, canonicalURL, publishDate, image }}>
	<div class={baseLayoutContainer}>
		<article>
			<h1 class={postTitle}>{title}</h1>
			<span class={dateAndTags}>
				<time class={postDate}>{formatDate}</time>
				{tags?.length && (
						<div class={tagsContainer}>
							<ul class={postTagsList}>
								{tags.map((tag) => (
									<li>{tag}</li>
								))}
							</ul>
						</div>
				)}
			</span>
			<img class={coverImage} src={image} alt={title + " cover image"}>
			<div class={blogPostContent}><slot /></div>
		</article>
	
		<aside class={tocAside}>
			<h2 class={tocHeader}>Table of Contents</h2>
			<ul class={tocUnorderedList}>
				{headings.map(({ slug, text }) => (
					<li class={tocHeading}>
						<a href={`#${slug}`} aria-label={`Scroll to section: ${text}`}>{text}</a>
					</li>
				))}
			</ul>
		</aside>
	</div>
</BaseLayout>