---
import BaseLayout from "./Base.astro"
import { getLocaleTime } from "../utils"

const baseLayoutContainer = "sm:grid sm:grid-cols-[3fr_1fr] sm:gap-x-10 sm:items-start"
const postTitle = "title mb-2"
const dateAndTags = "flex flex-col sm:gap-y-2 md:flex-row md:items-center md:gap-y-0 md:divide-x md:divide-textColor"
const postPublishDate = "pr-2"
const tagsContainer = "flex items-center md:pl-2"
const postTagsList = "flex items-center ml-1 gap-x-2"
const coverImage = "mt-4"
const blogPostContent = "mt-8 prose prose-sm prose-cactus prose-headings:font-semibold prose-headings:before:text-accent prose-headings:before:absolute prose-headings:before:-ml-4 prose-th:before:content-none"
const tocAside = "invisible hidden text-right sm:sticky sm:top-20 sm:block sm:visible"
const tocHeader = "font-semibold"
const tocUnorderedList = "mt-4 text-xs space-y-2"
const tocHeading = "line-clamp-2 hover:text-accent"

const {
	content: { title, description, publishDate, tags, image, canonicalURL },
	headings,
} = Astro.props

const date = new Date(publishDate)
const formatDate = getLocaleTime(date)
---

<BaseLayout meta={{ title, description, canonicalURL, publishDate, image }}>
	<div class={baseLayoutContainer}>
		<article>
			<h1 class={postTitle}>{title}</h1>
			<span class={dateAndTags}>
				<time class={postPublishDate}>{formatDate}</time>
				{
				  tags?.length && (
						<div class={tagsContainer}>
							<ul class={postTagsList}>
								{tags.map((tag) => (
									<li>{tag}</li>
								))}
							</ul>
						</div>
				  )
				}
			</span>
			<img class={coverImage} src={image} alt={title + " cover image"}>
			<div class={blogPostContent}><slot /></div>
		</article>
	
		<aside class={tocAside}>
			<h2 class={tocHeader}>Table of Contents</h2>
			<ul class={tocUnorderedList}>
				{headings.map(({ slug, text }) => (
					<li class={tocHeading}>
						<a href={`#${slug}`} aria-label={`Scroll to section: ${text}`}>{text}</a>
					</li>
				))}
			</ul>
		</aside>
	</div>
</BaseLayout>