---
import BaseLayout from "./Base.astro"
import { getLocaleTime, getPreviousAndNextPosts, sortMDByDate } from "src/util"
import Paginator from "@/components/Paginator"
import type { Post } from "@/util"
import { styles } from "../styles/styles"

const {
	content: {
		title, description, publishDate, tags, image
	},
	headings,
} = Astro.props

const date = new Date(publishDate)
const datetime = date.toISOString()
const postDate = getLocaleTime(date)
const currentPage = new URL(Astro.request.url).pathname
const allPosts = await Astro.glob<Post>("../pages/*.mdx")
const allSortedPosts = sortMDByDate(allPosts)
const { prev, next } = getPreviousAndNextPosts(currentPage, allSortedPosts)

const paginationProps = {
	...(prev && {
		prevUrl: {
			url: prev.url,
			text: `← ${prev.frontmatter.title}`,
			srLabel: " Previous Article:",
		},
	}),
	...(next && {
		nextUrl: {
			url: next.url,
			text: `${next.frontmatter.title} →`,
			srLabel: "Next Article:",
		},
	}),
}
---

<BaseLayout meta={{ title, description }}>
	<div class={styles.baseLayoutContainer}>
		<article>
			<h1 class={styles.title}>
				{title}
			</h1>

			<span class={styles.dateAndTags}>
				<time class={styles.postDate}>
					{postDate}
			  </time>
				{
					tags?.length && (
						<div class={styles.tagsContainer}>
							<ul class={styles.postTagsList}>
								{tags.map((tag) => (
									<li>
										<a
											class={styles.tagLink}
											aria-label={`View more posts with the tag ${tag}`}
											href={`/tags/${tag}`}
										>
											{tag}
										</a>
									</li>
								))}
							</ul>
						</div>
					)
				}
			</span>
			<!-- <p class="mt-8">{description}</p> -->
			<img class={styles.coverImage} src={image}>
			<div class={styles.blogPostContent}>
				<slot />
			</div>
		</article>

		<aside class={styles.tocAside}>
			<h2 class={styles.tocHeader}>Table of Contents</h2>
			<ul class={styles.tocUnorderedList}>
				{headings.map(({ slug, text }) => (
					<li class={styles.tocHeading}>
						<a
						  href={`#${slug}`}
							aria-label={`Scroll to section: ${text}`}
						>
							{text}
						</a>
					</li>
				))}
			</ul>
		</aside>
	</div>

	<Paginator {...paginationProps} />
</BaseLayout>

<style>
	/* Hide the weird code block adding the language */
	:global(article pre .language-id) {
		@apply hidden;
	}
</style>
